@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.App {
  font-family:'Inter', sans-serif; 
  color: #000;
  font-weight: 400;
  width: 100vw;
  height: auto;
  font-size: 1vw;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  overflow: hidden;
}

aside {
  margin: 5vh auto;
  width: 35vw;
  display: flex-row;
  -webkit-box-align: space-between;
    -ms-flex-align: space-between;
        align-items: space-between;
}

.title {
  font-size: 5vw;
  text-transform: uppercase;
  line-height: 1.3;
}

.credits {
  font-size: 0.8vw;
  margin-top: 5vh;
}

main {
  margin: 5vh auto;
  padding: 0 2vw;
  width: 50vw;
  height: 93vh;
  overflow: scroll;
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

h4 {
  font-weight: 500;
}

li {
  margin: 1vh 0;
}

.TLDR {
  list-style: ' + ';
}

.chapter {
  display: block;
  margin: 5vh 0;
}

.subtitle {
  font-style: italic;
}


a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
        align-items: flex-start;
    overflow: scroll;
  }

  aside {
    width: 90vw;
    margin: 5vh auto;
    padding: 0;
  }

  aside > .title {
    font-size: 3.5rem;
  }
  aside > .credits {
    font-size: 1rem;
  }

  main {
    padding: 0;
    width: 90vw;
    height: auto;
    margin: 5vh auto;
    font-size: 1.1rem;
  }
}